In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import wrangle
import env
import explore

from scipy import stats
from scipy.stats import pearsonr, spearmanr

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, QuantileTransformer
from sklearn.model_selection import train_test_split

from math import sqrt

# Notes

# Planning

# Data Acquisition

In [2]:
zillow = wrangle.get_zillow_data()
zillow.head(2)

#Do a null sum on columns to see what is what in the df

,propertylandusetypeid,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc
0,261.0,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,27516.0,2015.0,27516.0,NaN,None,NaN,NaN,Single Family Residential
1,261.0,15,11193347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,10.0,2016.0,10.0,NaN,None,NaN,NaN,Single Family Residential

# Data Preparation

# Data Exploration

### Univariate

In [ ]:
explore.explore_univariate(train, cat_vars, quant_vars)

### Bivariate

In [ ]:
#exploring split
explore.explore_bivariate(train, target, cat_vars, quant_vars)

### Multivariate

In [ ]:
#exploring  split
explore.explore_multivariate(train, target, cat_vars, quant_vars)

# Hypothesis Testing

# Modeling